@import url('@/assets/giz-css/root.css');

/* Layout Styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ensures full viewport height */
  background-color: var(--neutral-light);
  font-family: var(--font-family);
  color: var(--text-dark);
}

/* Header */
.header {
  background: var(--neutral-light);
  color: var(--text-dark);
  padding: var(--sm-spacing);
  box-shadow: var(--shadow-dark);
  position: relative;
  z-index: 1000;
}

/* Main Content */
.main-content {
  flex: 1;
}

.content {
  color: var(--text-dark);
}

/* Footer */
.footer {
  background: var(--neutral-dark);
  color: var(--text-light);
  padding: var(--md-spacing);
  text-align: center;
  box-shadow: var(--shadow-dark);
  width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .content {
    padding: var(--sm-spacing);
  }

  .header,
  .footer {
    padding: var(--sm-spacing);
  }
}